@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

html, body {
  font-family: "Dosis", sans-serif;
  background: #FBFCFC;
  color: #3498DB;
}

a {
  display: block;
  text-decoration: none;
  color: #3498DB;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  background: #FBFCFC;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
}

.header__logo {
  width: clamp(180px, 30vw, 285px);
  margin-bottom: 8px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .menu {
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    position: absolute;
    top: 57.2px;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FBFCFC;
    opacity: 0.8;
  }
}

.menu__item {
  font-size: calc( 1.5vmin + 15px);
  padding: 10px 20px;
  margin-left: 15px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: inset 0 0 5px 5px #FBFCFC;
          box-shadow: inset 0 0 5px 5px #FBFCFC;
}

.menu__item:hover {
  background: #3498DB;
  color: #FBFCFC;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 576px) {
  .menu__item {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #217dbb;
  }
  .menu__item:hover {
    background: #FBFCFC;
    color: #3498DB;
  }
}

.showmenu {
  display: none;
}

@media (max-width: 576px) {
  .showmenu {
    display: block;
    color: #3498DB;
    font-size: 30px;
    margin: 0 10px 8px 0;
  }
}

.menu-show .menu {
  max-height: 100vh;
}

.banner {
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  text-align: center;
  padding: 70px 10px;
}

.about h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Caveat", cursive;
}

.about p {
  font-size: calc( 1.5vmin + 14px);
  line-height: 1.5;
}

.accent {
  color: #E67E22;
  font-size: 20px;
}

.dinosaurs__background {
  background: #3498DB;
  color: #FBFCFC;
  padding: 50px 0 10px;
}

.dinosaurs__background h2 {
  text-align: center;
  font-size: 55px;
  font-family: "Caveat", cursive;
  color: #f7DC6F;
}

.dinosaurs__background p {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 20px;
}

.dinosaurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dinosaurs__item {
  text-align: center;
  padding: 10px 0;
}

.dinosaurs__item h3 {
  font-size: 30px;
  padding: 10px 0 20px;
}

.d-none {
  display: none;
}

.comment {
  padding: 70px 20px 50px;
  color: #000;
}

.comment__title {
  text-align: center;
  font-size: 50px;
  font-family: "Caveat", cursive;
  color: #3498DB;
  margin-bottom: 30px;
}

.comment__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comment__card {
  max-width: 550px;
  background: #f7DC6F;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.comment__card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.comment__name {
  font-size: 20px;
  padding: 10px 0 5px;
}

.comment__content {
  line-height: 1.3;
}

.footer {
  background: #3498DB;
  color: #FBFCFC;
}

.footer a {
  color: #FBFCFC;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

@media (max-width: 576px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}

.footer__contact p {
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer__contact a {
  display: inline-block;
}

.footer__contact a:hover {
  color: #f7DC6F;
}

.footer__logo {
  width: clamp(180px, 30vw, 285px);
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .footer__logo {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=all.css.map */